$carousel-control-opacity: 1;

$carousel-control-icon-width: 1rem;

$carousel-control-prev-icon-bg: url('../assets/images/icon-prev.svg');
$carousel-control-next-icon-bg: url('../assets/images/icon-next.svg');

@import "bootstrap/scss/bootstrap";